/* Import Font */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Body */

body {

    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Liked Comments */

.liked {
    background-color: lightblue;
}

/* Jumbotron */

.jumbotron {
    background-color: pink;
}