/* Import Font */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Body */

body {

    font-family: "Roboto", Arial, Verdana, sans-serif;
    height: 100%;
}

/* Liked Comments */

.liked {
    background-color: lightblue;
    padding: 10px;
}

/* Jumbotron */

.jumbotron {
    background-color: pink;
}

/* List Items */

.list-items {
    color: green;
}

.list-items a {
    text-decoration: none;
    color: orange;
}

.list-items a:hover {
    text-decoration: none;
    color: purple;
}

/* Margin Styles */
.mgn-col {
    margin-left: 10px;
}

/* Navbar Styles */
.navbar-header {
    background-color: lightgreen;
    padding: 10px;
}

.navbar-nav {
    background-color: lightyellow;
    padding: 10px;
}

/* Table Styles */
th {
    background-color: lightblue;
}


/* Download PDF Styles */
.download-pdf {
    color: green;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

.download-pdf i:hover {
    color: orange;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Footer */
footer {
    background-color: lightyellow;
    min-height: 50px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: green;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: purple;
    
}

#footer-details {
    margin: 20px;
}

/* jQueryDemo - Keypad */

#keypad {
    width: 50%;
    margin: auto;
}

#display {
    height: 75px;
    font-size: 3em;
    background-color: lightblue;
    color: black;
    text-align: center;
}

.row button {
    background-color: black;
    color: white;
    font-size: 2em;
    height: 2em;
    float: left;
    border-color: lightgreen;
    margin-left: 0px;
    margin-right: 0px;
}

button {
    width: 33.333%;
}

